
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.host-font {
  font-size: 26px;
}

.resize-box {
  resize: both;
  overflow: auto;
}

#rapportText {
  font-size: 12px;
}

#overlay, #fine-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay-text, #fine-overlay-text {
  position: absolute;
  top: 10%; 
  left: 25%;
  width: 50%;
  font-size: 14px;
  color: white;
}

canvas {
  width:100% !important;
  length:100% !important;
}
#kpi-chart-container {
  width: 100%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}